<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='redg.ico') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/comments.css" type="text/css">
  <title>Comment Page</title>

</head>

<style>
  .box {

    max-width: 600px;
    margin: auto;
    text-align: left;
    word-wrap: break-word;
    box-shadow: inset;

  }
  .button{
    text-align: center;
  }
  .card-title{
    text-align: center;
  }
</style>

<body>

  {% if reviews|length == 0 %}

  <div class="card text-center">
    <div class="card-header">
      You may have encountered an ERROR!
    </div>
  </div>

  <div class="box">
    <h5 class="card-title">Please Refresh!</h5>
    <p>Sometimes comments do not load for a particular YouTube video for the following reasons:
    <ol>
      <li>The requested video may not have any comments yet.</li>
      <li>www.youtube.com is a dynamic website (uses javascript).</li>
    </ol>Please try refreshing this page a few times and if it doesn't work go to <i>Homepage</i> and try again.
    Thankyou!
    </p><br>
    <div class="button">
      <a href="/" class="btn btn-outline-primary btn-sm" >HomePage</a>
    </div>
  </div>

  {% else %}
  <h2><span style="color: red;">YouTube</span> Video Original Comments</h2>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
      {% for review in reviews %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{review['Name']}}</td>
        <td>{{review['Comment']}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>